.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;

  width: 100vw;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70vw;
}

.store-container {
  height: 80vh;
  display: flex;
  border-style: groove;
  border-width: 4px;
  padding: 2rem;
  gap: 10px;
  border-radius: 10px;
  flex-direction: column;
}

.store-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-store-button {
  align-self: center;
  font-size: larger;
  z-index: 0px;
  background-color: black;
  color: white;
  transition: all;
  transition-duration: 200ms;
  width: 2.5rem;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  border: 2px solid black;
}

.add-store-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}

.table-container {
  height: 100%;

  flex: 1;
  flex-direction: row;
  overflow: auto;
}

.table-main {
  flex: 1;
  /* border-style: solid; */
  width: 100%;
}

.table-row {
  border-style: solid;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 1rem;
}

td {
  text-align: center;
}

.add-main-container {
  width: 100vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  position: absolute;
}

.add-sub-container {
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}

.mini-container {
  border: 2px solid black;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.summation-container {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  float: right;
}

#AddForm {
  flex: auto;
  flex-direction: column;
  display: flex;
  padding: 2px;
  gap: 10px;
  width: 100%;
}

#AddForm input {
  width: 20rem;
  padding: 6px;
}

.x_button {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.vButton {
  align-self: center;
  font-size: medium;
  z-index: 0px;
  background-color: #009bbd;
  color: white;
  transition: all;
  transition-duration: 200ms;
  border-radius: 3px;
  padding-inline: 10px;
  padding-block: 4px;
  border: 2px solid #009bbd;
}

.vButton:hover {
  background-color: #05bbe3;
  scale: 1.1;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}

.vButton:active {
  scale: 0.75;
}

.dButton {
  align-self: center;
  font-size: medium;
  z-index: 0px;
  background-color: #ff1212;
  color: white;
  transition: all;
  transition-duration: 200ms;
  border-radius: 3px;
  padding-inline: 10px;
  padding-block: 4px;
  border: 2px solid #ff1212;
}

.dButton:hover {
  background-color: #fa4646;
  scale: 1.1;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}

.dButton:active {
  scale: 0.75;
}
